p,
h2,
h3,
h4 {
  font-family: "Poppins", sans-serif;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-container {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 1570px) {
  .card .card-container {
    width: 60%;
  }
}
@media (max-width: 767px) {
  .card .card-container {
    width: 80%;
    height: 100%;
    justify-content: flex-start;
    align-items: center;
  }
}
.card .card-container .buy-card {
  width: 100%;
  display: flex;
}
@media (max-width: 767px) {
  .card .card-container .buy-card {
    flex-direction: column;
    align-items: center;
  }
}
.card .card-container .buy-card .card-img {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 767px) {
  .card .card-container .buy-card .card-img {
    width: 100%;
    max-width: 300px;
  }
}
.card .card-container .buy-card .card-img .card-lamp {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 350px;
  min-width: 350px;
}
@media (max-width: 767px) {
  .card .card-container .buy-card .card-img .card-lamp {
    min-width: 280px;
    min-height: 280px;
  }
}
@media (max-width: 280px) {
  .card .card-container .buy-card .card-img .card-lamp {
    min-width: 250px;
    min-height: 250px;
  }
}
.card .card-container .card-info {
  margin-top: 20px;
}
@media (max-width: 767px) {
  .card .card-container .card-info {
    max-width: 300px;
    width: 100%;
  }
}
.card .card-container .card-input {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .card .card-container .card-input {
    width: 100%;
    max-width: 300px;
  }
}
.card .card-container .card-input h2 {
  font-size: 35px;
  margin: 0;
  padding: 0;
}
.card .card-container .card-input p {
  font-size: 20px;
}
.card .card-container .card-input .inp {
  margin: 7px 0;
}
.card .card-container .card-input .tag {
  font-size: 17px;
  background: #e8e8e8;
  padding: 3px 6px;
  border-radius: 5px;
  color: gray;
  font-weight: 600;
}
.card .card-container .card-input .form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.card .card-container .card-input .form-container form {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}
.card .card-container .card-input .form-container form input {
  outline: 0;
  outline-offset: 0;
  border: 1px solid orange;
  border-radius: 5px 0 0 5px;
  padding: 0 7px;
  height: 41px;
  width: 100%;
  max-width: 200px;
}
.card .card-container .card-input .form-container form .error {
  background: lightpink;
  border: 1px solid lightcoral;
  color: indianred;
}
.card .card-container .card-input .form-container form button {
  box-shadow: 0 0 0 0;
  height: 43px;
  background: orange;
  color: white;
  text-transform: none;
  border-radius: 0 5px 5px 0;
  font-size: 13px;
}
.card .card-container .card-input .form-container form button:hover {
  box-shadow: 0 0 0 0;
}
@media (max-width: 767px) {
  .card .card-container .card-input .form-container form button {
    width: 100%;
  }
}
.card .card-container .card-input .form-container .message {
  max-width: 300px;
}
.card .card-container .card-input .form-container .message p {
  color: red;
  font-size: 15px;
}

/*# sourceMappingURL=Card.css.map */
